*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --c-secondary: #aaa;
  --c-dark: #333;
  --c-selection: #c3ffc9;
  --c-dark-blue: #2c3e50;
  --c-green: #4caf50;
  --c-dark-green: #45a049;
}

body {
  font-family: Arial, sans-serif;
}

#root {
  padding: 20px 20px 100px 20px;
}

#drop-zone {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

#drop-zone.dragover {
  opacity: 0;
}

table {
  border: 1px solid var(--c-secondary);
  border-collapse: collapse;
}

td,
th {
  border: 1px solid var(--c-secondary);
  padding: 10px 30px;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-dark-blue);
}

h1 {
  margin-bottom: 20px;
}

.file-input-label {
  margin-bottom: 0.5rem;
}
