.hints__or {
  text-align: center;
  font-size: 1.5rem;
  color: var(--c-secondary);
  margin: 20px 0;
}

.hints__file-input-wrapper {
  position: relative;
}

.hints__file-input-label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--c-green);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hints__file-input-label:hover {
  background-color: var(--c-dark-green);
}

.hints__jsonPathInput {
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}
