.day {
  padding-bottom: 20px;
}

.day__statistics {
  margin-top: 50px;
}

.day__header {
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-color: var(--c-secondary);
  border-width: 1px 0;
  color: var(--c-secondary);
}

.day__content {
  padding-top: 20px;
}
