.day {
  padding-bottom: 20px;
  /*border-bottom: 1px solid var(--c-secondary);*/
}

.day__statistics {
  margin-top: 50px;
}

.day__header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--c-secondary);
  color: var(--c-secondary);
}

.day__content {
  padding-top: 20px;
}
